DEBUG=1
USER=dokki
USER_UID=1000
USER_GID=1000

USER_UID=1000
USER_GID=1000
GITEA__database__DB_TYPE=postgres
GITEA__database__HOST=db:5432
GITEA__database__NAME
GITEA__database__USER
GITEA__database__PASSWD

USER: git: The username of the user that runs Gitea within the container.
USER_UID: 1000: The UID (Unix user  ID) of the user that runs Gitea within the container. Match this to the UID of the owner of the /data volume if using host volumes (this is not necessary with named volumes).
USER_GID: 1000: The GID (Unix group ID) of the user that runs Gitea within the container. Match this to the GID of the owner of the /data volume if using host volumes (this is not necessary with named volumes).

